<p id="notice"><%= notice %></p>

<p><%= link_to image_tag(@comic.img), @comic.link %><= Go Amazon!!</p>
<p><b>タイトル:</b><%= @comic.title %></p>
<p><b>著者:</b><%= @comic.writers %></p>
<p><b>出版社:</b><%= @comic.publisher %></p>
<p><b>巻数:</b><%= @comic.turn %></p>
<p><b>価格:</b><%= @comic.price %></p>
<p><b>ID:</b><%= @comic.identification %></p>
<p><b>発売日:</b><%= @comic.sale %></p>
<p><b>内容:</b><%= @comic.content %></p>

<p>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="moririring" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<h2>どくりょぅ?</h2>
<ul>
	<% if @comic.yondas.any? %>
		<% @comic.yondas.each do |yonda| %>
			<li><%= yonda.comment %> (by <%= yonda.user %>)</li>
		<% end %>
	<% else %>
		<li>まだ</li>
	<% end %>
</ul>

<%= link_to 'Back', comics_path %>
